{{ partial:layout/section }}
  {{ partial:components/swiper/wrapper }}
    {{ partial:components/swiper/slide image="aupark-reinach-2" alt="" }}
    {{ partial:components/swiper/slide image="aupark-reinach-1" alt="" }}
    {{ partial:components/swiper/slide image="aupark-reinach-3" alt="" }}
    {{ partial:components/swiper/slide image="aupark-reinach-4" alt="" }}
  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-pine text-white" }}
{{ partial:layout/inner }}
  {{ partial:components/headings/h1 title="Wohnen in Reinach, Baselland" }}
  <div class="max-w-2xl">
    {{ partial:components/headings/h2 title="Erstvermietung" }}
    <p>An der Aumattstrasse 70/72/74 wird per Frühsommer 2025 eine neue und lebendige Wohnüberbauung realisiert. Es entstehen moderne 4.5- und 5.5-Zimmer-Wohnungen, ideal für Paare oder Familien sowie altersgerechte 2.5- und 3.5-Zimmer-Wohnungen, bei welchen auch Zusatzleistungen (zum Beispiel Betreuung oder Service-Dienstleistungen) von dem benachbarten Seniorenzentrum Aumatt bezogen werden können.</p>
  </div>
{{ /partial:layout/inner }}
{{ /partial:layout/section }}