

{{ partial:layout/section class="bg-almond" }}
  
  {{ partial:layout/inner }}
  <a name="formular" class="scroll-m-96 lg:scroll-m-144"></a>
  {{ partial:components/headings/h1 title="Kontakt" }}
  {{ partial:components/headings/h2 title="Haben wir Ihr Interesse geweckt?" }}
    <p class="max-w-2xl">Gerne stehen wir für Fragen zur Verfügung und freuen uns auf Ihre Kontaktaufnahme.</p>
    {{ nocache }}
      <div id="contact-form"></div>
    {{ /nocache }}
  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
