{{ partial:layout/section class="bg-almond" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Mietwohnungen" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        <p>In der neuen Wohnüberbauung entstehen total 42 Wohnungen. Die Wohnungen bieten den zukünftigen Bewohnerinnen und Bewohnern in jeder Lebensphase den passenden Grundriss. 
        <p>Die 4.5- und 5.5-Zimmer-Wohnungen eignen sich aufgrund ihrer Grösse und den durchdachten Grundrissen ideal für Familien oder Paare. In der offenen Küche mit Kochinsel sowie modernen Küchengeräten geniessen Sie Ihre Mahlzeiten im kleinen oder grossen Familienkreis. Durch das zusätzliche Reduit/Ankleidezimmer mit Einbauregalen verfügen die Wohnungen über genügend Stauraum. </p>
        <p>Das Eichenparkett in der Verlegeart «Schiffsboden» verleiht der gesamten Wohnung ein harmonisches Wohngefühl. Jede Wohnung verfügt zudem über einen Sitzplatz oder einen Balkon, welcher sich direkt vom Wohnbereich aus betreten lässt. Die Attikawohnungen trumpfen mit grosszügigen Terrassen auf. Die Erdgeschosswohnungen verfügen zudem über einen privaten Gartenbereich.</p>
        <p>Die modernen Bäder sind mit Feinsteinzeugbodenplatten und keramischen Wandplatten im Farbton beige ausgestattet und verfügen über eine Dusche oder Badewanne. </p>
        <p>Jede Wohnung verfügt zudem über ihren eigenen Waschturm der Marke Electrolux in der Wohnung sowie ein Kellerabteil mit Steckdose im Untergeschoss.</p> 
        <p>Beim Ausbau der Wohnungen wird auf ein architektonisches Gesamtkonzept geachtet. So wurden die Wohnungen schlicht aber dennoch modern in einem gehobenen Ausbaustandard konzipiert. Die Umgebung wird parkähnlich mit viel Grün und Aufenthaltsflächen sowie einem Spielplatz gestaltet.</p>
        <p>Die kontrollierte Wohnungslüftung, eine PV-Anlage und der Fernwärmeanschluss mit Fussbodenheizung entsprechen dem Minergie-Standard P-eco und sorgen für ein optimales Wohnklima. Durch den Bezug des Stroms über die PV-An­lage profitieren Sie von ca. 20% günstigerem Strom als beim örtlichen Elektrowerk.</p>
        <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
          <div>
            <a 
              href="/assets/downloads/aupark_facts_figures.pdf" 
              target="_blank" 
              title="Facts & Figures"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider flex items-center w-full justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Facts & Figures</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}
      {{ partial:layout/span }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}


{{ partial:layout/section }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h1 title="Angebot" }}

    {{ partial:layout/grid class="sm:!gap-16 lg:!gap-20 mb-40 lg:mb-60 items-end" }}

      {{ partial:layout/span class="lg:!col-span-3" }}
        <div class="uppercase">Verfügbarkeit</div>
        <div>
          <select 
              class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_center] bg-no-repeat !outline-none bg-pine rounded-sm !text-white py-10 px-16 mt-10 w-full" 
              data-filterType="object-state" 
              aria-label="Verfügbarkeit">
              <option value="NULL">Alle Wohnungen</option>
              <option value="available">frei</option>
              <option value="reserved">reserviert</option>
              <option value="taken">vermietet</option>
          </select>
        </div>
      {{ /partial:layout/span }}
      
      {{ partial:layout/span class="lg:!col-span-3" }}
        <div class="uppercase">Zimmer</div>
        <div>
          <select 
            class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_center] bg-no-repeat !outline-none bg-pine rounded-sm !text-white py-10 px-16 mt-10 w-full" 
            data-filterType="object-rooms" 
            aria-label="Zimmer">
            <option value="NULL">Alle Zimmer</option>
            <option value="4.5">4.5</option>
            <option value="5.5">5.5</option>
          </select>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span class="lg:!col-span-3" }}
        <div class="uppercase">Etage</div>
        <div>
          <select 
            class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_center] bg-no-repeat !outline-none bg-pine rounded-sm !text-white py-10 px-16 mt-10 w-full" 
            data-filterType="object-floor" 
            aria-label="Etage">
            <option value="NULL">Alle Etagen</option>
            <option value="eg">EG</option>
            <option value="1og">1. OG</option>
            <option value="2og">2. OG</option>
            <option value="3og">3. OG</option>
          </select>
        </div>
      {{ /partial:layout/span }}
      
      {{ partial:layout/span class="lg:!col-span-3 mt-30 lg:!mt-0" }}
        <button class="js-btn-reset bg-seaglass rounded-sm flex w-full text-pine py-10 px-15 hover:bg-almond transition-colors">
          Filter zurücksetzen
        </button>
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

    {{ partial:layout/grid }}
        
      {{ partial:layout/span class="lg:!col-span-5 xl:!col-span-6 bg-white sticky top-80 z-90 lg:relative" }}

        {{ partial:objects/iso class="w-full h-auto block lg:sticky lg:top-120 z-90 py-[6%] lg:py-[12%] lg:-my-[12%] overflow-visible" }}

      {{ /partial:layout/span }}

      {{ partial:layout/span class="!col-span-full lg:!col-span-7 xl:!col-span-6" }}
        
      {{ partial:components/headings/h2 title="AUMATTSTRASSE 70/72/74" class="mb-15 lg:text-xl" }}
        
        {{ partial:components/headings/h3 title="Mietwohnungen" class="normal-case mb-5" }}

        {{ collection from="apartments" as="apartments" }}

          {{ partial:components/table/table class="mb-40 lg:mb-80" }}

          {{ partial:components/table/thead }}
          
            {{ apartments }}
              {{ partial:components/table/trow filterable="true" number="{{ title }}" state="{{ state }}" rooms="{{ rooms }}" floor="{{ floor }}" }}
                {{ partial:components/table/tcell }}
                  {{ title }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell }}
                  {{ floor:label }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell }}
                  {{ rooms }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell class="text-right pr-8" }}
                  {{ area }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell class="text-right" }}
                {{ if state == 'available' }}
                  {{ rent | format_number(0, '.', '\'') }}.–
                {{ else }}
                  –
                {{ /if }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell class="text-center" }}
                  <a href="/assets/downloads/aupark_grundriss_{{ slug | replace('-', '') }}.pdf" target="_blank" title="Download Grundriss Objekt {{ number }}">
                    {{ partial:icons/download }}
                  </a>
                {{ /partial:components/table/tcell }}
                  {{ partial:components/table/tcell class="text-right align-middle !pr-0" }}
                    {{ if state == 'available' }}
                    <a href="/assets/downloads/aupark_anmeldeformular.pdf" target="_blank" title="Anmeldeformular"
                      class="text-xs md:text-sm xl:text-base text-pine hover:text-almond bg-almond hover:bg-pine transition-all inline-flex items-center px-6 pb-2 rounded-sm">
                      Anmeldung
                    </a>
                    {{ elseif state == 'reserved' }}
                    reserviert
                    {{ else }}
                    vermietet
                    {{ /if }}
                {{ /partial:components/table/tcell }}

              {{ /partial:components/table/trow }}

            {{ /apartments }}

          {{ /partial:components/table/table }}

        {{ /collection }}

      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
