{{ partial:layout/section class="bg-almond" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Mietwohnungen" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        <p>In der neuen Wohnüberbauung entstehen total 42 Wohnungen. Die Wohnungen bieten den zukünftigen Bewohnerinnen und Bewohnern in jeder Lebensphase den passenden Grundriss. 
        <p>Die 4.5- und 5.5-Zimmer-Wohnungen eignen sich aufgrund ihrer Grösse und den durchdachten Grundrissen ideal für Familien oder Paare. In der offenen Küche mit Kochinsel sowie modernen Küchengeräten geniessen Sie Ihre Mahlzeiten im kleinen oder grossen Familienkreis. Durch das zusätzliche Reduit/Ankleidezimmer mit Einbauregalen verfügen die Wohnungen über genügend Stauraum. </p>
        <p>Das Eichenparkett in der Verlegeart «Schiffsboden» verleiht der gesamten Wohnung ein harmonisches Wohngefühl. Jede Wohnung verfügt zudem über einen Sitzplatz oder einen Balkon, welcher sich direkt vom Wohnbereich aus betreten lässt. Die Attikawohnungen trumpfen mit grosszügigen Terrassen auf. Die Erdgeschosswohnungen verfügen zudem über einen privaten Gartenbereich.</p>
        <p>Die modernen Bäder sind mit Feinsteinzeugbodenplatten und keramischen Wandplatten im Farbton beige ausgestattet und verfügen über eine Dusche oder Badewanne. </p>
        <p>Jede Wohnung verfügt zudem über ihren eigenen Waschturm der Marke Electrolux in der Wohnung sowie ein Kellerabteil mit Steckdose im Untergeschoss.</p> 
        <p>Beim Ausbau der Wohnungen wird auf ein architektonisches Gesamtkonzept geachtet. So wurden die Wohnungen schlicht aber dennoch modern in einem gehobenen Ausbaustandard konzipiert. Die Umgebung wird parkähnlich mit viel Grün und Aufenthaltsflächen sowie einem Spielplatz gestaltet.</p>
        <p>Die kontrollierte Wohnungslüftung, eine PV-Anlage und der Fernwärmeanschluss mit Fussbodenheizung entsprechen dem Minergie-Standard P-eco und sorgen für ein optimales Wohnklima. Durch den Bezug des Stroms über die PV-An­lage profitieren Sie von ca. 20% günstigerem Strom als beim örtlichen Elektrowerk.</p>
        <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
          <div>
            <a 
              href="/assets/downloads/aupark_facts_figures.pdf" 
              target="_blank" 
              title="Facts & Figures"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider flex items-center w-full justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Facts & Figures</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}
      {{ partial:layout/span }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
