{{ partial:layout/section }}
  {{ partial:components/media/visual image="aupark-reinach-2" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-pine text-white" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Projekt" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        <p>Mit dem Projekt «AuPark» entsteht an der Aumattstrasse 70/72/74 an schöner und ruhiger Lage eine attraktive und generationenübergreifende Wohnüberbauung. Die Häuser sind ab 1. Juni 2025 bezugsbereit.</p>
        <p>Die drei Gebäude bestechen nicht nur durch eine moderne, sehr ansprechende Aussenwirkung, sondern auch durch einen ausgewogenen Wohnungsmix und einladende Aussenbereiche.</p>
        <p>In der Gemeinde Reinach BL können alle Stufen der obligatorischen Schulzeit besucht werden. Dies macht Reinach zu einem äusserst attraktiven Ort für Familien. Darüber hinaus bietet Reinach eine Vielzahl von Freizeit- und Erholungsmöglichkeiten, die es zu einem idealen Wohnort für Jung und Alt machen. Ein Supermarkt ist zudem nur wenige Gehminuten entfernt, was den Einkauf von Lebensmitteln und anderen Gütern äusserst bequem macht.</p>
      {{ /partial:layout/span }}
      {{ partial:layout/span }}
        {{ partial:components/media/image image="aupark-reinach-1" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-white" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Umgebung" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        <p>Reinach BL hat trotz seiner mittlerweile erreichten Grösse als Kleinstadt immer noch den Charme eines Dorfes bewahrt. Hier herrscht eine familiäre Atmosphäre, in der man sich auf der Strasse kennt und grüsst. Die gute Anbindung an die Stadt Basel macht Reinach zu einem äusserst beliebten Wohnort. Die naheliegende Birs lädt zu sportlichen Aktivitäten ein und bietet auch die Möglichkeit für entspannte Momente im Freien.  Die zentrale Lage und die naturnahe Erholung machen den «Aupark» zu einem attraktiven Wohnort für Menschen jeden Alters.</p>
        <p>Die Bushaltestelle mit Anbindung an den Bahnhof Dornach liegt nur wenige Schritte von dem Gebäude entfernt. Von dort aus gelangt man schnell und bequem zum Bahnhof Basel, der direkt erreichbar ist. Dies macht Reinach zu einer idealen Wohngegend für Pendler und Familien, die sowohl die Ruhe eines Dorfes als auch die Nähe zur Stadt schätzen. Ebenfalls fährt durch Reinach die Tramlinie 11 regelmässig und bietet eine bequeme, zuverlässige Möglichkeit, um sich innerhalb von Reinach und umliegenden Gemeinden zu bewegen.</p>
        <p>Durch die unmittelbare Nähe zur Autobahn ist die Lage des Standorts auch für Automobilisten äusserst attraktiv. Die schnelle und bequeme Anbindung an das Autobahnnetz ermöglicht eine zeitsparende Anreise und eine reibungslose Anbindung an die umliegenden Städte und Regionen.</p>
        <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
          <div>
            <a 
              href="https://maps.app.goo.gl/uhnETDzdyy75yeWr9" 
              target="_blank" 
              title="Google Maps"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider flex items-center w-full justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Google Maps</span>
            </a>
          </div>
        </div>
        {{ /partial:layout/span }}
      {{ partial:layout/span }}
        {{ partial:components/media/image image="aupark-reinach-lage" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}