{{ partial:layout/section class="bg-almond" }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h1 title="Wohnen mit Service" }}

    {{ partial:layout/grid }}

      {{ partial:layout/span }}

        {{ partial:components/headings/h2 title="Selbstbestimmtes Wohnen –<br>individueller Service für Ihr Leben" }}

        <p>Entdecken Sie 20 moderne 2.5- und 3.5-Zimmer-Wohnungen, ideal für Senioren, die Unabhängigkeit und Sicherheit in einem eleganten Umfeld schätzen. Diese hindernisfreien Wohnungen bieten nicht nur Komfort, sondern auch die Freiheit, selbstbestimmt zu leben – mit der Möglichkeit, bei Bedarf nahtlos in das benachbarte Seniorenzentrum zu wechseln.</p>
        <p>Jede Wohnung wird mit einem umfassenden Basis-Paket an Dienstleistungen angeboten, das alles Wichtige abdeckt, damit Sie sich ganz auf das Wesentliche konzentrieren können.</p>

        {{ partial:components/headings/h3 title="Das Basis-Paket umfasst:" }}
        <ul>
          <li>Ihre Wohnung inkl. Nebenräume sowie Nebenkosten wie Heizung, Wasser und Strom</li>
          <li>Telefon-, TV- und Internetanschluss mit eigenem WLAN (inkl. Gesprächskosten)</li>
          <li>24h-Notrufbereitschaft für absolute Sicherheit</li>
          <li>Technische Unterstützung für kleinere Reparaturen</li>
          <li>Concierge-Service, Montag bis Freitag, von 8 bis 17 Uhr</li>
          <li>Fensterreinigung (zweimal jährlich)</li>
          <li>Zugang zu Veranstaltungen, Aktivitäten und Ausflügen</li>
          <li>Privathaftpflicht- und Hausratsversicherung</li>
          <li>Ein eigener Einstellhallenplatz pro Wohnung</li>
        </ul>
        <p>Zusätzliche Services können Sie flexibel nach Ihren Wünschen hinzubuchen – für eine kurze Zeit oder dauerhaft. Ob als Einzelauftrag oder in attraktiven Paketen, Sie entscheiden, was am besten zu Ihnen passt.</p>
        <p>Mit unserem durchdachten Angebot erleben Sie ein rundum sorgloses Wohnen – perfekt abgestimmt auf Ihre individuellen Bedürfnisse. Alles, was Sie brauchen, jederzeit verfügbar. Ihr neues Zuhause erwartet Sie.</p>
        {{ partial:components/headings/h2 title="Seniorenstiftung Aumatt" }}
        <div class="flex">
          <div class="w-160 md:w-180">Salvatore Pranzo</div>
          <div><a href="tel:061 717 15 17" class="block hover:underline underline-offset-4 decoration-1">061 717 15 17</a></div>
        </div>
        <div class="flex">
          <div class="w-160 md:w-180">Geschäftsführer</div>
          <div><a href="mailto:aupark@sz-aumatt.ch" class="block hover:underline underline-offset-4 decoration-1">aupark@sz-aumatt.ch</a></div>
        </div>

        <div class="mt-15 lg:mt-30 flex flex-col sm:flex-row space-y-15 sm:space-y-0 sm:space-x-15 lg:space-x-25">
          <div>
            <a 
              href="https://sz-aumatt.ch/" 
              target="_blank" 
              title="Seniorenstiftung Aumatt"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider inline-flex items-center w-auto justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Seniorenstiftung Aumatt</span>
            </a>
          </div>
          <div>
            <a 
              href="/assets/downloads/seniorenzentrum_aumatt_preisliste.pdf" 
              target="_blank" 
              title="Preisliste"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider inline-flex items-center w-auto justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Preisliste</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}

        {{ partial:components/media/image image="aupark-reinach-3" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="aupark-reinach-2" alt="" }}
      {{ /partial:layout/span }}


    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}


{{ partial:layout/section }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h1 title="Angebot" }}

    {{ partial:layout/grid class="sm:!gap-16 lg:!gap-20 mb-40 lg:mb-60 items-end" }}

      {{ partial:layout/span class="lg:!col-span-3" }}
        <div class="uppercase">Verfügbarkeit</div>
        <div>
          <select 
              class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_center] bg-no-repeat !outline-none bg-pine rounded-sm !text-white py-10 px-16 mt-10 w-full" 
              data-filterType="object-state" 
              aria-label="Verfügbarkeit">
              <option value="NULL">Alle Wohnungen</option>
              <option value="available">frei</option>
              <option value="reserved">reserviert</option>
              <option value="taken">vermietet</option>
          </select>
        </div>
      {{ /partial:layout/span }}
      
      {{ partial:layout/span class="lg:!col-span-3" }}
        <div class="uppercase">Zimmer</div>
        <div>
          <select 
            class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_center] bg-no-repeat !outline-none bg-pine rounded-sm !text-white py-10 px-16 mt-10 w-full" 
            data-filterType="object-rooms" 
            aria-label="Zimmer">
            <option value="NULL">Alle Zimmer</option>
            <option value="2.5">2.5</option>
            <option value="3.5">3.5</option>
          </select>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span class="lg:!col-span-3" }}
        <div class="uppercase">Etage</div>
        <div>
          <select 
            class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_center] bg-no-repeat !outline-none bg-pine rounded-sm !text-white py-10 px-16 mt-10 w-full" 
            data-filterType="object-floor" 
            aria-label="Etage">
            <option value="NULL">Alle Etagen</option>
            <option value="eg">EG</option>
            <option value="1og">1. OG</option>
            <option value="2og">2. OG</option>
            <option value="3og">3. OG</option>
          </select>
        </div>
      {{ /partial:layout/span }}
      
      {{ partial:layout/span class="lg:!col-span-3 mt-30 lg:!mt-0" }}
        <button class="js-btn-reset bg-seaglass rounded-sm flex w-full text-pine py-10 px-15 hover:bg-almond transition-colors">
          Filter zurücksetzen
        </button>
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

    {{ partial:layout/grid }}
        
      {{ partial:layout/span class="lg:!col-span-5 xl:!col-span-6 bg-white sticky top-80 z-90 lg:relative" }}

        {{ partial:objects/iso class="w-full h-auto block lg:sticky lg:top-120 z-90 py-[6%] lg:py-[12%] lg:-my-[12%] overflow-visible" }}

      {{ /partial:layout/span }}

      {{ partial:layout/span class="!col-span-full lg:!col-span-7 xl:!col-span-6" }}
        
      {{ partial:components/headings/h2 title="AUMATTSTRASSE 70/72/74" class="mb-15 lg:text-xl" }}
        
        {{ partial:components/headings/h3 title="Wohnen mit Service" class="normal-case mb-5" }}

        {{ collection from="apartments_service" as="apartments" }}

          {{ partial:components/table/table class="mb-40 lg:mb-80" }}

          {{ partial:components/table/thead heading_rent="Basispaket/MT" }}
          
            {{ apartments }}
              {{ partial:components/table/trow filterable="true" number="{{ title }}" state="{{ state }}" rooms="{{ rooms }}" floor="{{ floor }}" }}
                {{ partial:components/table/tcell }}
                  {{ title }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell }}
                  {{ floor:label }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell }}
                  {{ rooms }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell class="text-right pr-8" }}
                  {{ area }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell class="text-right" }}
                {{ if state == 'available' }}
                  {{ rent | format_number(0, '.', '\'') }}.–
                {{ else }}
                  –
                {{ /if }}
                {{ /partial:components/table/tcell }}
                {{ partial:components/table/tcell class="text-center" }}
                  <a href="/assets/downloads/aupark_grundriss_{{ slug | replace('-', '') }}.pdf" target="_blank" title="Download Grundriss Objekt {{ number }}">
                    {{ partial:icons/download }}
                  </a>
                {{ /partial:components/table/tcell }}
                  {{ partial:components/table/tcell class="text-right align-middle !pr-0" }}
                    {{ if state == 'available' }}
                    <a href="/assets/downloads/aupark_seniorenzentrum_aumatt_anmeldeformular_wohnen_mit_service.pdf" target="_blank" title="Anmeldeformular"
                      class="text-xs md:text-sm xl:text-base text-pine hover:text-almond bg-almond hover:bg-pine transition-all inline-flex items-center px-6 pb-2 rounded-sm">
                      Anmeldung
                    </a>
                    {{ elseif state == 'reserved' }}
                    reserviert
                    {{ else }}
                    vermietet
                    {{ /if }}
                {{ /partial:components/table/tcell }}

              {{ /partial:components/table/trow }}

            {{ /apartments }}

          {{ /partial:components/table/table }}

        {{ /collection }}

      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
