{{ partial:layout/section class="bg-almond" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Wohnen mit Service" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        {{ partial:components/headings/h2 title="Selbstbestimmtes Wohnen –<br>individueller Service für Ihr Leben" }}
        <p>Entdecken Sie 20 moderne 2.5- und 3.5-Zimmer-Wohnungen, ideal für Senioren, die Unabhängigkeit und Sicherheit in einem eleganten Umfeld schätzen. Diese hindernisfreien Wohnungen bieten nicht nur Komfort, sondern auch die Freiheit, selbstbestimmt zu leben – mit der Möglichkeit, bei Bedarf nahtlos in das benachbarte Seniorenzentrum zu wechseln.</p>
        <p>Jede Wohnung wird mit einem umfassenden Basis-Paket an Dienstleistungen angeboten, das alles Wichtige abdeckt, damit Sie sich ganz auf das Wesentliche konzentrieren können.</p>
        {{ partial:components/headings/h3 title="Das Basis-Paket umfasst:" }}
        <ul>
          <li>Ihre Wohnung inkl. Nebenräume sowie Nebenkosten wie Heizung, Wasser und Strom</li>
          <li>Telefon-, TV- und Internetanschluss mit eigenem WLAN (inkl. Gesprächskosten)</li>
          <li>24h-Notrufknopf für absolute Sicherheit</li>
          <li>Technische Unterstützung für kleinere Reparaturen</li>
          <li>Concierge-Service, Montag bis Freitag, von 8 bis 17 Uhr</li>
          <li>Fensterreinigung (zweimal jährlich)</li>
          <li>Zugang zu Veranstaltungen, Aktivitäten und Ausflügen</li>
          <li>Privathaftpflicht- und Hausratsversicherung</li>
          <li>Ein eigener Einstellhallenplatz pro Wohnung</li>
        </ul>
        <p>Zusätzliche Services können Sie flexibel nach Ihren Wünschen hinzubuchen – für eine kurze Zeit oder dauerhaft. Ob als Einzelauftrag oder in attraktiven Paketen, Sie entscheiden, was am besten zu Ihnen passt.</p>
        <p>Mit unserem durchdachten Angebot erleben Sie ein rundum sorgloses Wohnen – perfekt abgestimmt auf Ihre individuellen Bedürfnisse. Alles, was Sie brauchen, jederzeit verfügbar. Ihr neues Zuhause erwartet Sie.</p>
        {{ partial:components/headings/h2 title="Seniorenstiftung Aumatt" }}
        <div class="flex">
          <div class="w-160 md:w-180">Salvatore Pranzo</div>
          <div><a href="tel:061 717 15 17" class="block hover:underline underline-offset-4 decoration-1">061 717 15 17</a></div>
        </div>
        <div class="flex">
          <div class="w-160 md:w-180">Geschäftsführer</div>
          <div><a href="mailto:aupark@sz-aumatt.ch" class="block hover:underline underline-offset-4 decoration-1">aupark@sz-aumatt.ch</a></div>
        </div>

        <div class="mt-15 lg:mt-30 flex flex-col sm:flex-row space-y-15 sm:space-y-0 sm:space-x-15 lg:space-x-25">
          <div>
            <a 
              href="https://sz-aumatt.ch/" 
              target="_blank" 
              title="Seniorenstiftung Aumatt"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider inline-flex items-center w-auto justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Seniorenstiftung Aumatt</span>
            </a>
          </div>
          <div>
            <a 
              href="/assets/downloads/seniorenzentrum_aumatt_preisliste.pdf" 
              target="_blank" 
              title="Preisliste"
              class="bg-pine text-white px-10 py-6 lg:px-12 lg:py-8 rounded-sm uppercase tracking-wider inline-flex items-center w-auto justify-center hover:bg-bronze hover:text-white transition-all">
              <span class="block leading-none">Preisliste</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}
      {{ partial:layout/span }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
