.iso-cls-1 {
  fill: #f2ece3;
}

.iso-cls-1, .iso-cls-2, .iso-cls-3, .iso-cls-4, .iso-cls-5 {
  stroke: #12120d;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.iso-cls-1, .iso-cls-3, .iso-cls-4, .iso-cls-5 {
  stroke-width: .2px;
}

.iso-cls-2 {
  fill: none;
}

.iso-cls-3 {
  fill: #ececec;
}

.iso-cls-4 {
  fill: #859984;
}

.iso-cls-5 {
  fill: #cc4a5a;
}

/* State classes */
.is-active.is-available [class^="iso-cls-"],
.is-active.is-available[class^="iso-cls-"] {
  @apply fill-sage
}

.is-active.is-taken [class^="iso-cls-"],
.is-active.is-taken[class^="iso-cls-"] {
  @apply fill-crimson;
}

[data-iso]:hover {
  @apply cursor-pointer;
}

[data-object].is-active {
  @apply !bg-bronze !bg-opacity-20;
}

/* Floor classes */
[data-iso-floor] {
  @apply transition-transform duration-300;
}
.is-up {
  @apply transform -translate-y-[16%] transition-transform duration-300;
}

.is-down {
  @apply transform translate-y-[16%] transition-transform duration-300;
}

.no-transform {
  @apply !transform-none;
}